*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-container {
  margin-top: 5rem;
}

.style {
  font-size: 2rem;
}

.btn {
  padding: 1rem 1.5rem;
  min-height: 4rem;
  min-width: 6rem;
}
